.header {
    position: fixed;
    height: 70px;
    top: 4px;
    left: 0;
    right: 0;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 80%;
    padding: 0 25px;
    border-radius: 12px;
    font-weight: 500;

    color: #31a9f3;
    background: #e6ecf0;
    border-bottom: 1px solid #eeeef1;
    backdrop-filter: blur(20px);

    z-index: 2;

    .header-title {
        margin: 20px 0;
        font-size: 24px;
        font-weight: 800;
    }
}
