@import '../constants/scssVariables.scss';

.header {
    position: fixed;
    height: 70px;
    top: 4px;
    left: 0;
    right: 0;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 95%;
    padding: 0 35px;
    border-radius: $radius;
    font-weight: 600;
    font-size: 17px;

    color: $accent;
    background: #e6ecf0;
    border-bottom: 1px solid #eeeef1;
    backdrop-filter: blur(20px);

    z-index: 5;

    .header-title {
        margin: 20px 0;
        font-size: 26px;
        font-weight: 800;
    }
}
