/* Add CSS styles here! */
html,
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
}

#root {
    height: 100%;
    font-size: 16px;
}
